<nav>
  <a routerLink="/personas">Personas</a>
</nav>
<router-outlet></router-outlet>

<div>{{departamento}}</div>
<div>{{numero}}</div>
<button (click)="demo()">Demo</button>

<app-info-persona nombre="Luis" apellido="Adame"></app-info-persona>

<app-matematico #appMath1 [numero1]="2" numero2="20" [operacion]="'+'" (buttonClicked)="onClick($event)" ></app-matematico>
<app-matematico #appMath2 [numero1]="92" numero2="230" [operacion]="'+'" (buttonClicked)="onClick($event)" ></app-matematico>

<span>{{ appMath1.numero1 }} {{ appMath1.operacion}} {{appMath1.numero2}} = {{appMath1.resultado}}</span>
<span>{{ appMath2.numero1 }} {{ appMath2.operacion}} {{appMath2.numero2}} = {{appMath2.resultado}}</span>

<p appCopyright></p>

<app-demoutilerias></app-demoutilerias>

<input type="text" appNumeric>

<div *appPermission="['admin', 'agent', 'programmer']">
  <h3>This area can be accessed by admins and agents only</h3>
</div>

<app-personas></app-personas>

Dato: <input type="text" id="txtDato" [(ngModel)] = dato >
{{dato}}

<app-vuelos></app-vuelos>
